<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogCheck</title>
    Log checker Page
</head>
<body>
<form action="" method="post">
            {{ form.csrf }}

            <div class="input Query">
                {{ form.Exch.label }} {{ form.Exch }}
            </div>
            <div class="input Query">
                {{ form.Feed.label }} {{ form.Feed }}
            </div>

            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>

        {% if data != None %}
            {%  for k, v in data.items() %}
                <div>
                <h2> HeatMap </h2>
             <img src="data:image/png;base64,{{ v["heatmap"] }}", width="100%">
                </div>
            {% endfor %}
    {% endif %}

        </form>
</body>
</html>